[submodule "funke-wallet-frontend"]
	path = funke-wallet-frontend
	url = git@github.com:gunet/funke-wallet-frontend.git
[submodule "funke-wallet-backend-server"]
	path = funke-wallet-backend-server
	url = git@github.com:gunet/funke-wallet-backend-server.git
[submodule "ausweissapp-client"]
	path = ausweissapp-client
	url = git@github.com:gunet/ausweissapp-client.git
[submodule "funke-wallet-enterprise"]
	path = funke-wallet-enterprise
	url = git@github.com:gunet/funke-wallet-enterprise.git
